asgiref==3.8.1
backports.zoneinfo==0.2.1
certifi==2026.2.25
cffi==1.17.1
charset-normalizer==3.4.7
cryptography==46.0.7
Django==4.2.30
django-allauth==65.14.3
django-jazzmin==2.5.0
docxtpl==0.20.2
idna==3.11
Jinja2==3.1.6
lxml==6.1.0
MarkupSafe==2.1.5
pycparser==2.23
PyJWT==2.9.0
python-docx==1.1.2
pytz==2026.1.post1
requests==2.32.4
sqlparse==0.5.5
typing_extensions==4.13.2
urllib3==2.2.3
